/* Button.module.css */
.primary-gradient-btn {
  border-radius: var(--border-rounded) !important;
  transition: all 0.2s linear !important;
}
.primary-gradient-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: var(--background-color);
  border-radius: var(--border-rounded);
  transition: all 0.2s linear !important;
}
